.offers {
    width: 65%;
    height: 66vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg,#14353e,#d9d9d9 60%);
}

.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1 {
    color: #171717;
    font-size: 80px;
    font-weight: 600;
    line-height: 1.2; /* Ajusta este valor para reducir el espacio entre las líneas */
}

.offers-left p {
    color: #171717;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2; /* Ajusta este valor para reducir el espacio entre las líneas */
}

.offers-left button {
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #14353e;
    border: none; 
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    padding-top: 50px;
    margin-top: -65px
}
