.item {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; /* Reducir espacio entre elementos */
    position: relative; /* Asegura que la etiqueta esté posicionada en relación al item */
}

.item img {
    width: 100%;
    height: auto;
}

.item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item-name {
    margin: 6px 0px;
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}

.item-prices {
    display: flex;
    gap: 10px;
    align-items: center; /* Asegurarse de que los precios estén alineados con la descripción */
}

.item-price-new {
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.item-price-old {
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover {
    transform: scale(1.05);
    transition: transform 0.6s;
}

.label {
    position: absolute;
    top: 10px;
    left: 40px; /* Ajusta este valor para mover la etiqueta más a la izquierda */
    background-color: rgba(0, 0, 0, 0.5); /* Negro pero ligeramente transparente */
    color: white;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
}
